
$baseColor : #4e26d3;
$baseColorHover: #623be6;
$baseColorGradient: linear-gradient(to bottom, #5f31f6, #4922c9);
$baseColorGradientHover: linear-gradient(to bottom, #5f31f6, #31148f);
$gris : #5f6c7d;
$grisClaro: #919caa;

