@import 'src/styles/_colors';

.ca_list{
    display: flex;
    align-items: center;

    .ca_text{
        margin-right: 10px;
        color: $gris;
    }

    .categories_mobile{
        display: none;
        cursor: pointer;
        color:$gris;
        padding: 10px 0;
        width: 120px;
        outline: 1px solid $baseColor;
        justify-content: center;
        border-radius: 50px;

        &:hover{
            color:$grisClaro;
        }
    }
    
    .categories_container {
        display: flex;
        gap: 10px;

        .ca_option{
            cursor: pointer;
            min-width: 100px;
            height: 40px;
            
            grid-template-columns: 75% 25%;
            display: flex;
            align-content: center;
            align-items: center;

            align-items: center;
            justify-content: center;
            border-radius: 50px;
            background: #0f0e13;
            outline: 2px solid $baseColor;
            box-sizing: border-box;
            transition: .4s;
            justify-content: space-around;
            gap: 10px;
            padding: 15px;

            a{
                color:#fafafc;
                text-decoration: none;
            }
            .option_text {
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            &:hover{
                background: #131218;
            }

            .close{
                width: 13px;
                height: 13px;
                background-image: url("/assets/close.png");
                background-repeat: no-repeat;
            }
        }
    
        .active {
            min-width: 100px;
            height: 40px;

            align-items: center;
            border-radius: 50px;
            background: $baseColorGradient;
            outline: 0;
            &:hover{
                background: $baseColorGradientHover;
            }
        }

        .reset{
            cursor:pointer;
            color: $grisClaro;
            display: flex;
            align-items: center;
            span{
                padding-bottom: 2px;
                border-bottom: 1px solid;
            }
        }

    }
}

@media (max-width:784px)
{
    .categories_mobile{
        display: flex !important;
    }
    .categories_container {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 50px;
        z-index: 2;
        background: #060608;
        padding: 10px;
        border-radius: 0 0 5px 5px;
        align-items: center;

        &.hide{
            
        display: none !important;
        }
    }
}