@import 'src/styles/_colors';

.gif_grid{
    margin: 0 10px ;
    display: none;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    align-items: center;

    &.active{
        display: grid;
    }
    &.masonry {
        column-count: 4;
        column-gap: 0;
        .gif_item img {
          display: block;
          max-width: 100%;
        }
      }

    .loading{
        font-weight: 100;
        text-align: center;
        color: $gris;
        font-family: 'HelveticaInseratRoman';
    }
}
