@import 'src/styles/_colors';

.gif_grid{
    margin: 0 10px ;
    display: none;
    &.active{
      display: grid;
    }
    &.masonry {
        justify-items: center;
        align-items: center;
        grid-template-columns: repeat(auto-fill,minmax(295px,1fr));
        column-count: 4;
        column-gap: 0;
        .gif_item img {
          display: block;
          max-width: 100%;
        }
      }

    
}
