.gif_item{
    display: table-footer-group;
    position: relative;
    overflow: hidden;
    height: 200px;

    img{
        margin: 0 auto;
        position: absolute;
        height: 100%;
        min-width: 100%;
        transition: 1s;

        &:hover{
            transform: scale(1.5);
        }
    }
}