@import 'src/styles/_colors';

.gif_container{
    max-width: 1200px;
    
    margin: 0 auto;
    background: #0e0e12;
    position: relative;
    top: -50px;
    box-shadow: 0px 0px 10px 2px #16161e;
    
    padding-bottom: 10px;
    border-radius: 0 0 5px 5px;
}

.nogifs{
    background-image: url("/assets/background.png");
    background-position: top center;
    text-align: center;
    img{
        max-width: 100%;
    }
}

.loading{
    font-weight: 100;
    text-align: center;
    color: #39394e;
    font-family: 'Roboto';
}